*{
    margin: 0;
padding: 0%;
}
.cabecalho{
    background-color: aqua;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: flex;
    margin: 0% 16px;
}
.escola-imagem{
    width: 24%;
}
.escola{
    background-image: linear-gradient(#ofc8e9);
    color: #000;
    display: flex;
    justify-content:center;
    align-items; center
}